<%= form_for(@lugar) do |f| %>
  <% if @lugar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lugar.errors.count, "error") %> prohibited this lugar from being saved:</h2>

      <ul>
      <% @lugar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :direccion %>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :barrio %>
    <%= f.text_field :barrio %>
  </div>
  <div class="field">
    <%= f.label :mail %>
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :telefono %>
    <%= f.text_field :telefono %>
  </div>
  <div class="actions">
    <%= f.submit :value => t('grabar'), :class => 'inputButton' %>
  </div>
<% end %>
