
	<%= form_for(@lugar, :html => {:class => 'form-horizontal'}) do |f| %>
  		<% if @lugar.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@lugar.errors.count, "error") %> prohibited this lugar from being saved:</h2>
      			<ul>
      				<% @lugar.errors.full_messages.each do |msg| %>
        				<li><%= msg %></li>
      				<% end %>
      			</ul>
    		</div>
  		<% end %>

		<div class="control-group">
			<%= f.label :nombre, :class => 'control-label' %>
			<div class="controls"><%= f.text_field :nombre %></div>
  		</div>
	  	<div class="control-group">
			<%= f.label :direccion, :class => 'control-label' %>
			<div class="controls"><%= f.text_field :direccion %></div>
	  	</div>
	  	<div class="control-group">
			<%= f.label :url, :class => 'control-label' %>
			<div class="controls"><%= f.text_field :url %></div>
		</div>
	  	<div class="control-group">
			<%= f.label :barrio, :class => 'control-label' %>
			<div class="controls"><%= f.text_field :barrio %></div>
	  	</div>
	  	<div class="control-group">
			<%= f.label :mail, :class => 'control-label' %>
			<div class="controls"><%= f.text_field :mail %></div>
	  	</div>
	  	<div class="control-group">
			<%= f.label :telefono, :class => 'control-label' %>
			<div class="controls"><%= f.text_field :telefono %></div>
	  	</div>
	  	  
  		<div class="form-actions">
			<%= f.submit :value => t('grabar').capitalize, :class => 'btn btn-primary' %>
			<%= link_to t('volver').capitalize, lugares_path, :class => 'btn' %>
  		</div>
	 
<% end %>