
	<legend><%=t 'titulo.lugares' %></legend>

	<table class="table table-bordered table-striped">
		<thead>
			<th><%= t :nombre %></th>
			<th><%= t :direccion %></th>			
			<th colspan="3"></th>
		</thead>
		<tbody>
			<% @lugares.each do |lugar| %>
			  <tr>
			    <td><%= lugar.nombre %></td>
			    <td><%= lugar.direccion %></td>			    
			    <td><%= link_to t('ver'), lugar %></td>
			    <td><%= link_to t('editar'), edit_lugar_path(lugar) %></td>
			    <td><%= link_to t('borrar'), lugar, confirm: t('confirmacion_borrado'), method: :delete %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	
	<div class="form-actions">
		<%= link_agregar new_lugar_path, t('nuevo_lugar') %>
	</div>