<h2><%=t 'titulo.lugares' %></h2>

<table>
  <tr>
    <th><%= t :nombre %></th>
    <th><%= t :direccion %></th>
    <th><%= t :url %></th>
    <th colspan="3"></th>
  </tr>

<% @lugares.each do |lugar| %>
  <tr>
    <td><%= lugar.nombre %></td>
    <td><%= lugar.direccion %></td>
    <td><%= lugar.url %></td>
    <td><%= link_to t('ver'), lugar %></td>
    <td><%= link_to t('editar'), edit_lugar_path(lugar) %></td>
    <td><%= link_to t('borrar'), lugar, confirm: t('confirmacion_borrado'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('nuevo_lugar'), new_lugar_path, :class => 'agregar' %>
