<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'nombre' %>:</b>
  <%= @lugar.nombre %>
</p>

<p>
  <b><%= t 'direccion' %>:</b>
  <%= @lugar.direccion %>
</p>

<p>
  <b><%= t 'url' %>:</b>
  <%= @lugar.url %>
</p>

<p>
  <b><%= t 'barrio' %>:</b>
  <%= @lugar.barrio %>
</p>

<p>
  <b><%= t 'mail' %>:</b>
  <%= @lugar.mail %>
</p>

<p>
  <b><%= t 'telefono' %>:</b>
  <%= @lugar.telefono %>
</p>

<%= link_to t('editar'), edit_lugar_path(@lugar) %> |
<%= link_to t('volver'), lugares_path %>
