<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'nombre' %>:</b>
  <%= @lugar.nombre %>
</p>

<p>
  <b><%= t 'direccion' %>:</b>
  <%= @lugar.direccion %>
</p>

<p>
  <b><%= t 'url' %>:</b>
  <%= @lugar.url %>
</p>

<p>
  <b><%= t 'barrio' %>:</b>
  <%= @lugar.barrio %>
</p>

<p>
  <b><%= t 'mail' %>:</b>
  <%= @lugar.mail %>
</p>

<p>
  <b><%= t 'telefono' %>:</b>
  <%= @lugar.telefono %>
</p>

	<div class="form-actions">
		<%= link_to t('editar').capitalize, edit_lugar_path(@lugar), :class => 'btn' %>
		<%= link_to t('volver').capitalize, lugares_path, :class => 'btn' %>
	</div>
