
<h2><%= t 'titulo.home' %></h2>

<table>
  
  <tr>
    <th><%= t 'artista' %></th>
    <th><%= t 'lugar' %></th>
    <th><%= t 'fecha' %></th>
    <th colspan="3"></th>
  </tr>

<% @eventos.each do |evento| %>
  <tr>
    <td><%= evento.artista.nombre unless evento.nil? or evento.artista.nil? %></td>
    <td><%= evento.lugar.nombre unless evento.nil? or evento.lugar.nil? %></td>
    <td><%= evento.fecha.to_formatted_s(:short) unless evento.nil? %></td>    
  </tr>
<% end %>
</table>
