<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :artista %>
    <%= collection_select(:evento, :artista_id, Artista.all, :id, :nombre, :prompt => true )%>
  </div>
  <div class="field">
    <%= f.label :lugar %>
    <%= collection_select(:evento, :lugar_id, Lugar.all, :id, :nombre, :prompt => true )%>
  </div>
        
  <div class="field">
    <%= f.label :fecha %>           
    <%= f.text_field :fecha %>   
  </div>
  
  <div class="field">
    <%= f.label :hora %>           
    <%= f.text_field :time %>   
  </div>
  
    <div class="actions">
    <%= f.submit :value => t('grabar'), :class => 'inputButton' %>
  </div>
<% end %>
