<h2><%= t 'titulo.eventos' %></h2>

<table>
  <tr>
    <th><%= t 'artista' %></th>
    <th><%= t 'lugar' %></th>
    <th colspan="3"></th>
  </tr>

<% @eventos.each do |evento| %>
  <tr>
    <td><%= evento.artista.nombre %></td>
    <td><%= evento.lugar.nombre %></td>
    <td><%= link_to 'Show', evento %></td>
    <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
    <td><%= link_to 'Destroy', evento, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('nuevo_evento'), new_evento_path, :class => 'agregar' %>
