<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'artista' %>:</b>
  <%= @evento.artista.nombre %>
</p>

<p>
  <b><%= t 'lugar' %>:</b>
  <%= @evento.lugar.nombre %>
</p>

<p>
  <b><%= t 'fecha' %>:</b>
  <%= @evento.fecha.to_formatted_s(:short) %>
</p>
<p>
  <b><%= t 'hora' %>:</b>
  <%= @evento.hora %>
</p>

	<div class="form-actions">
		<%= link_to t('editar'), edit_evento_path(@evento), :class => 'btn' %>
		<%= link_to t('volver'), eventos_path, :class => 'btn' %>
	</div>
