<%= form_for(@artista) do |f| %>
  <% if @artista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artista.errors.count, "error") %> prohibited this artista from being saved:</h2>

      <ul>
      <% @artista.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 50%; margin-bottom: 20px;">
	  <div class="field">
		<%= f.label :nombre %>
		<%= f.text_field :nombre %>
	  </div>
	  <div class="field">
		<%= f.label :url %>
		<%= f.text_field :url %>
	  </div>
  </div>
  <div class="actions">
    <%= f.submit :value => t('grabar'), :class => 'inputButton' %>
  </div>
<% end %>
