<%= form_for(@artista) do |f| %>
  <% if @artista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artista.errors.count, "error") %> prohibited this artista from being saved:</h2>

      <ul>
      <% @artista.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
