<h1>Listing artistas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artistas.each do |artista| %>
  <tr>
    <td><%= artista.nombre %></td>
    <td><%= artista.url %></td>
    <td><%= link_to 'Show', artista %></td>
    <td><%= link_to 'Edit', edit_artista_path(artista) %></td>
    <td><%= link_to 'Destroy', artista, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artista', new_artista_path %>
