<h2><%= t 'titulo.artistas' %></h2>

<table>
  <tr>
    <th><%= t 'nombre' %></th>
    <th><%= t 'url' %></th>
    <th colspan="3"></th>
  </tr>

<% @artistas.each do |artista| %>
  <tr>
    <td><%= artista.nombre %></td>
    <td><%= artista.url %></td>
    <td><%= link_to t('ver'), artista %></td>
    <td><%= link_to t('editar'), edit_artista_path(artista) %></td>
    <td><%= link_to t('borrar'), artista, confirm: t('confirmacion_borrado'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('nuevo_artista'), new_artista_path, :class => 'agregar' %>
