<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'nombre' %>:</b>
  <%= @artista.nombre %>
</p>

<p>
  <b><%= t 'url' %>:</b>
  <%= @artista.url %>
</p>


<%= link_to t('editar'), edit_artista_path(@artista) %> |
<%= link_to t('volver'), artistas_path %>
