<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="left" style="width: 100%">
		<div class="left">
			<div class="field">
				<%= f.label t(:apellido), :class => 'login' %>
				<%= f.text_field :apellido, :class => 'inputBox' %>
			</div>
			<div class="field">
				<%= f.label t(:nombre) %>
				<%= f.text_field :nombre %>
			</div>
			<div class="field">
				<%= f.label t(:login) %>
				<%= f.text_field :login %>
			</div>
		</div>
		<div class="left">
	  		<div class="field">
				<%= f.label t(:email) %>
				<%= f.text_field :email %>
	  		</div>
	  		<div class="field">
				<%= f.label t(:clave) %>
				<%= f.password_field :clave %>
	  		</div>
	  		<div class="field">
				<%= f.label t(:clave_confirmation) %>
				<%= f.password_field :clave_confirmation %>
	  		</div>
  		</div>
  	</div>

  	<div class="actions">
    	<%= f.submit :value => t('grabar'), :class => 'inputButton' %>
  	</div>
<% end %>
