
	<h1><%= t 'titulo.usuarios' %></h1>

	<div id="colour" class="text-right">
		<%= link_agregar new_usuario_path, t('nuevo_usuario') %>
	</div>

	<table>
		<thead>
		    <th><%= t 'apellido' %></th>
		    <th><%= t 'nombre' %></th>
		    <th><%= t 'login' %></th>
		    <th><%= t 'e-mail' %></th>
		    <th colspan="3"></th>
		</thead>
		<tbody>
		<% @usuarios.each do |usuario| %>
			<tr>
			    <td><%= usuario.apellido %></td>
			    <td><%= usuario.nombre %></td>
			    <td><%= usuario.login %></td>
			    <td><%= usuario.email %></td>
			    <td><%= link_to 'Ver', usuario %></td>
			    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
			    <td><%= link_to 'Destruir', usuario, confirm: '¿Estás seguro?', method: :delete %></td>
			</tr>
		<% end %>
		</tbody>
	</table>