<script>
	function corregir(id)
	{
		combo = document.getElementById('artistas');
		idArtista = combo.options[combo.selectedIndex].value;
		location.href = '<%= importaciones_path %>/corregir/'+ id +'/por/'+ idArtista;
	}
</script>

<h1><%= t 'titulo.sincronizacion.artistas' %></h1>
<br/>
<br/>

<p>
	<span class="tip"><%= t 'mensajes.tip_artistas_nuevos_import' %></span>
</p>
	
<div class="left">	
	<table>
		<tr>
			<th colspan="2">
				<%= t 'titulo.sincronizacion.artistas_nuevos' %>
				<select id="artistas">
					<% @artistas.each do |a| %>
						<option value="<%= a.id %>"><%= a.nombre %></option>
					<% end %>
				</select>
			</th>
		</tr>
		<% @nuevos.each do |d| %>
			<tr>
				<td><%= d %></td>
				<td><a href="javascript: corregir('<%= d %>');">Corregir</a></td>
			</tr>
		<% end %>
	</table>
</div>

<div class="left">
	<table>
		<tr>
			<th><%= t 'titulo.sincronizacion.artistas_existentes' %></th>
		</tr>
		<% @existentes.each do |d| %>
			<tr>
				<td><%= d %></td>
			</tr>	
		<% end %>
	</table>
</div>

<div class="text-right">
	<%= link_to t('siguiente'), importaciones_path + '/lugares', :class => 'inputButton' %>
</div>
