<script>
	function corregir(nombre_barrio)
	{
		combo = document.getElementById('barrios');
		id_barrio = combo.options[combo.selectedIndex].value;
		
		form = document.getElementById('form_correccion');
		form.elements['id_barrio'].value = id_barrio;
		form.elements['nombre_barrio'].value = nombre_barrio;
		form.submit(); 
	}
</script>

	<form id="form_correccion" name="form_correccion" action="<%= importaciones_path %>/corregir_barrio" method="post">
		<input type="hidden" name="id_barrio" />
		<input type="hidden" name="nombre_barrio" />
	</form>

	<legend><%= t 'titulo.sincronizacion.barrios' %></legend>

	<blockquote>
		<small><%= t 'mensajes.tip_items_nuevos_import' %></small>
	</blockquote>

	<div class="row">
		<div class="span5">
			
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<th>
						<%= t 'titulo.sincronizacion.barrios_nuevos' %>
						<select id="barrios">
							<% @barrios.each do |b| %>
								<option value="<%= b.id %>"><%= b.nombre[0, 27] %><%= "(...)" unless b.nombre.length < 27 %></option>
							<% end %>
						</select>
					</th>
				</thead>
				<tbody>
					<% @nuevos.each do |d| %>
						<tr>
							<td><%= d %></td>
							<td><a href="javascript: corregir('<%= d %>');">Corregir</a></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			
		</div>
		<div class="span4">
			
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<th><%= t 'titulo.sincronizacion.barrios_existentes' %></th>
				</thead>
				<tbody>
					<% @existentes.each do |d| %>
						<tr>
							<td><%= d %></td>
						</tr>	
					<% end %>
				</tbody>
			</table>
			
		</div>
	</div>
	
	<div class="form-actions">
		<a class="btn btn-primary" href="<%= importaciones_path + '/eventos' %>"><%= t 'siguiente' %></a>
	</div>
