<h1><%= t 'titulo.sincronizacion.eventos' %></h1>
<br/>

<span class="tip"><%= t 'mensajes.sincro_eventos' %></span>
<br/>

<table>
	<tr>
		<th><%= t 'nombre' %></th>
		<th><%= t 'lugar' %></th>
		<th><%= t 'artista' %></th>
		<th><%= t 'fecha' %></th>
		<th><%= t 'hora' %></th>
		<th>&nbsp;</th>
	</tr>
	<% @eventos.each do |e| %>
		<tr>
			<td><%= e.nombre_evento %></td>
			<td><%= e.lugar %></td>
			<td><%= e.artista %></td>
			<td nowrap><%= e.fecha %></td>
			<td><%= e.horario.strftime("%H:%M") %></td>
			<td><%= link_to t('borrar'), "#{importaciones_path}/#{e.id}", confirm: t('confirmacion_borrado'), method: :delete %></td>
		</tr>
	<% end %>
</table>

<br/>

<%= link_to t('importar'), "#{importaciones_path}/importar", :class => 'inputButton caps' %>
