
	<h1><%= t 'titulo.sincronizacion.eventos' %></h1>

	<blockquote>
		<p><%= t 'mensajes.sincro_eventos' %></p>
	</blockquote>

	<div id="colour" class="text-right">
		<span class="blue"><a href="<%= importaciones_path + '/importar' %>"><%= t 'importar' %></a></span>
	</div>
	
	<table>
		<thead>
			<th><%= t 'nombre' %></th>
			<th><%= t 'lugar' %></th>
			<th><%= t 'artista' %></th>
			<th><%= t 'fecha' %></th>
			<th><%= t 'hora' %></th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			<% @eventos.each do |e| %>
				<tr>
					<td><%= e.nombre_evento %></td>
					<td><%= e.lugar %></td>
					<td><%= e.artista %></td>
					<td nowrap><%= e.fecha %></td>
					<td><%= e.horario.strftime("%H:%M") %></td>
					<td><%= link_to t('borrar'), "#{importaciones_path}/#{e.id}", confirm: t('confirmacion_borrado'), method: :delete %></td>
				</tr>
			<% end %>
		</tbody>
	</table>