
	<legend><%= t 'titulo.sincronizacion.eventos' %></legend>

	<blockquote>
		<small><%= t 'mensajes.sincro_eventos' %></small>
	</blockquote>
	
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<th><%= t 'nombre' %></th>
			<th><%= t 'lugar' %></th>
			<th><%= t 'artista' %></th>
			<th><%= t 'fecha' %></th>
			<th><%= t 'hora' %></th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			<% @eventos.each do |e| %>
				<tr>
					<td><%= e.nombre_evento %></td>
					<td><%= e.lugar %></td>
					<td><%= e.artista %></td>
					<td nowrap><%= e.fecha %></td>
					<td><%= e.horario.strftime("%H:%M") %></td>
					<td><%= link_to t('borrar'), "#{importaciones_path}/#{e.id}", confirm: t('confirmacion_borrado'), method: :delete %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<div class="form-actions">
		<a class="btn btn-primary" href="<%= importaciones_path + '/importar' %>"><%= t('importar').upcase %></a>
	</div>
