<script>
	function corregir(nombre_lugar)
	{
		combo = document.getElementById('lugares');
		id_lugar = combo.options[combo.selectedIndex].value;
		
		form = document.getElementById('form_correccion');
		form.elements['id_lugar'].value = id_lugar;
		form.elements['nombre_lugar'].value = nombre_lugar;
		form.submit(); 
	}
</script>

<form id="form_correccion" name="form_correccion" action="<%= importaciones_path %>/corregir_lugar" method="post">
	<input type="hidden" name="id_lugar" />
	<input type="hidden" name="nombre_lugar" />
</form>

<h1><%= t 'titulo.sincronizacion.lugares' %></h1>
<br/>
<br/>

<div class="left">
	<table>
		<tr>
			<th colspan="2">
				<%= t 'titulo.sincronizacion.lugares_nuevos' %>
				<select id="lugares">
					<% @lugares.each do |l| %>
						<option value="<%= l.id %>"><%= l.nombre %></option>
					<% end %>
				</select>
			</th>
		</tr>
		<% @nuevos.each do |d| %>
			<tr>
				<td><%= d %></td>
				<td><a href="javascript: corregir('<%= d %>');">Corregir</a></td>
			</tr>
		<% end %>
	</table>
</div>

<div class="left">
	<table>
		<tr>
			<th><%= t 'titulo.sincronizacion.lugares_existentes' %></th>
		</tr>
		<% @existentes.each do |d| %>
			<tr>
				<td><%= d %></td>
			</tr>	
		<% end %>
	</table>
</div>

<br/>

<div class="text-right">
	<%= link_to t('siguiente'), importaciones_path + '/eventos', :class => 'inputButton' %>
</div>

