<script>
	function corregir(nombre_lugar)
	{
		combo = document.getElementById('lugares');
		id_lugar = combo.options[combo.selectedIndex].value;
		
		form = document.getElementById('form_correccion');
		form.elements['id_lugar'].value = id_lugar;
		form.elements['nombre_lugar'].value = nombre_lugar;
		form.submit(); 
	}
</script>

	<form id="form_correccion" name="form_correccion" action="<%= importaciones_path %>/corregir_lugar" method="post">
		<input type="hidden" name="id_lugar" />
		<input type="hidden" name="nombre_lugar" />
	</form>

	<h1><%= t 'titulo.sincronizacion.lugares' %></h1>

	<blockquote>
		<p><%= t 'mensajes.tip_items_nuevos_import' %></p>
	</blockquote>

	<div id="colour" class="text-right">
		<span class="blue"><a href="<%= importaciones_path + '/eventos' %>"><%= t 'siguiente' %></a></span>
	</div>

	<div class="left" style="width: 60%">
		<table>
			<thead>
				<th>
					<%= t 'titulo.sincronizacion.lugares_nuevos' %>
					<select id="lugares">
						<% @lugares.each do |l| %>
							<option value="<%= l.id %>"><%= l.nombre[0, 27] %><%= "(...)" unless l.nombre.length < 27 %></option>
						<% end %>
					</select>
				</th>
			</thead>
			<tbody>
				<% @nuevos.each do |d| %>
					<tr>
						<td><%= d %></td>
						<td><a href="javascript: corregir('<%= d %>');">Corregir</a></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="left" style="width: 37%">
		<table>
			<thead>
				<th><%= t 'titulo.sincronizacion.lugares_existentes' %></th>
			</thead>
			<tbody>
				<% @existentes.each do |d| %>
					<tr>
						<td><%= d %></td>
					</tr>	
				<% end %>
			</tbody>
		</table>
	</div>