<script>
	function corregir(nombre_lugar)
	{
		combo = document.getElementById('lugares');
		id_lugar = combo.options[combo.selectedIndex].value;
		
		form = document.getElementById('form_correccion');
		form.elements['id_lugar'].value = id_lugar;
		form.elements['nombre_lugar'].value = nombre_lugar;
		form.submit(); 
	}
</script>

	<form id="form_correccion" name="form_correccion" action="<%= importaciones_path %>/corregir_lugar" method="post">
		<input type="hidden" name="id_lugar" />
		<input type="hidden" name="nombre_lugar" />
	</form>

	<legend><%= t 'titulo.sincronizacion.lugares' %></legend>

	<blockquote>
		<small><%= t 'mensajes.tip_items_nuevos_import' %></small>
	</blockquote>

	<div class="row">
		<div class="span5">
			
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<th>
						<%= t 'titulo.sincronizacion.lugares_nuevos' %>
						<select id="lugares">
							<% @lugares.each do |l| %>
								<option value="<%= l.id %>"><%= l.nombre[0, 27] %><%= "(...)" unless l.nombre.length < 27 %></option>
							<% end %>
						</select>
					</th>
				</thead>
				<tbody>
					<% @nuevos.each do |d| %>
						<tr>
							<td><%= d %></td>
							<td><a href="javascript: corregir('<%= d %>');">Corregir</a></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			
		</div>
		<div class="span4">
			
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<th><%= t 'titulo.sincronizacion.lugares_existentes' %></th>
				</thead>
				<tbody>
					<% @existentes.each do |d| %>
						<tr>
							<td><%= d %></td>
						</tr>	
					<% end %>
				</tbody>
			</table>
			
		</div>
	</div>
	
	<div class="form-actions">
		<a class="btn btn-primary" href="<%= importaciones_path + '/eventos' %>"><%= t 'siguiente' %></a>
	</div>
