<h1><%= t 'titulo.importar' %></h1>

<br/>

<%= form_tag('/importaciones', :multipart => true, 'accept-charset' => "ISO-8859-1") do %>
	<fieldset>
		<legend><%= t 'titulo.nueva_importacion' %></legend>

       	<blockquote>
          <p><%= t 'mensajes.tip_carga_archivo_import' %></p>
        </blockquote>

		<div class="field">
			<label for="archivo"><%= t 'archivo_impo' %></label>
			<%= file_field_tag 'archivo' %>
		</div>
		<br/>
		<div class="actions">
			<%= submit_tag t('procesar') %>
		</div>  
	</fieldset>
<% end %>

	<h1><%= t 'titulo.tareas_importacion' %></h1>

	<div id="colour" class="text-right">
		<span class="blue"><a href="<%= importaciones_path + '/borrar_importados' %>"><%= t 'borrar_importados' %></a></span>
		<span class="blue"><a href="<%= importaciones_path + '/borrar_todos' %>"><%= t 'borrar_todos' %></a></span>
	</div>

	<h1><%= t 'titulo.ultimos_importados' %></h1>

<table>
		<thead>
			<th><%= t 'nombre' %></th>
			<th><%= t 'lugar' %></th>
			<th><%= t 'artista' %></th>
			<th><%= t 'fecha' %></th>
			<th><%= t 'hora' %></th>
		</thead>
		<tbody>
			<% @ultimos.each do |e| %>
				<tr>
					<td><%= e.nombre %></td>
					<td><%= link_to e.lugar.nombre, lugar_path(e.lugar) %></td>
					<td><%= link_to e.artista.nombre, artista_path(e.artista) %></td>
					<td nowrap><%= e.fecha.strftime("%d-%b-%Y") %></td>
					<td><%= e.hora.strftime("%H:%M") %></td>
				</tr>
			<% end unless @ultimos.nil? %>
		</tbody>
</table>
