
	<div id="links">
		<!-- **** INSERT LINKS HERE **** -->
		<a href="#">another link</a> | <a href="#">another link</a> | <a href="#">another link</a> | <a href="#">another link</a>
	</div>
	
	<div id="logo">
		<h1>alta_agenda</h1>
		<h2>&quot;as queer as a clockwork orange&quot;</h2>
	</div>
	
	<div id="menu">
		<ul>
    	<%= item_menu 'usuarios', usuarios_path %>
    	<%= item_menu 'lugares', lugares_path %>
    	<%= item_menu 'eventos', eventos_path %>
    	<%= item_menu 'artistas', artistas_path %>
    	<%= item_menu 'importaciones', new_importacion_path %>
		</ul>
	</div>