
	<div id="header">
		<div id="logo">
			<h1><a href="<%= root_path %>"><span>alta_</span>agenda</a></h1>
		</div>
		<div id="nav">
			<ul>
            	<%= item_menu 'usuarios', usuarios_path %>
            	<%= item_menu 'lugares', lugares_path %>
            	<%= item_menu 'eventos', eventos_path %>
            	<%= item_menu 'artistas', artistas_path %>
            	<%= item_menu 'importaciones', new_importacion_path %>
			</ul>
			<br class="clear" />
		</div>
	</div>


