<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	
	<head>
  		<title><%= titulo %></title>
		<%= stylesheet_link_tag    "admin", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	
	<body>
		
		<div id="main">

			<%= render 'layouts/admin_header' %>
    		
    		<div id="content">
    			
      			<div id="column1">
        			<div class="sidebaritem">
        				<%= render 'layouts/login_form' %>
					</div>				
      			</div>
      			
      			<div id="column2">
      				<% if flash[:notice] %>
      					<div id="flash">
							<p class="notice"><%= flash[:notice] %></p>
      					</div>
    				<% end %>
    				
      				<%= yield %>
  				</div>
    		</div>

			<%= render 'layouts/admin_footer' %>
  
  		</div>
  		
	</body>
	
</html>