<!DOCTYPE html>

<html>
	
	<head>
  		<title><%= titulo %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	
	<body>

		<div id="outer">
			<%= render 'layouts/admin_header' %>
			<div id="main">
				<div id="sidebar">
				
					<h3><%= t('login_acceso') %></h3>
					<div class="form">
						<form action="#" method="post" id="login"></form>
						<p>
							<label for="username" class="login">Username</label> <input type="text" name="username" id="username" value="username" class="inputBox" />
						</p>
						<p>
							<label for="password" class="login">Password</label> <input type="password" name="password" id="password" value="password" class="inputBox" />
						</p>
						<p>
							<span><input type="checkbox" name="remember" /> &nbsp;Remember Me</span> <input type="button" name="login" value="Login" class="inputButton" />
						</p>
					</div>
					<!--
					<h3>Feugiat volutpat</h3>
					<p>
						Posuere sed gravida donec fringilla. Condimentum nec venenatis in vestibulum enim imperdiet.
					</p>
					<ul class="linkedList">
						<li class="first">
							<a href="#">Etiam auctor nisi</a>
						</li>
						<li>
							<a href="#">Lobortis lectus iaculis luctus</a>
						</li>
						<li>
							<a href="#">Erat sagittis mattis</a>
						</li>
						<li>
							<a href="#">Vitae scelerisque suscipit</a>
						</li>
						<li class="last">
							<a href="#">Amet congue tempus curabitur</a>
						</li>
					</ul>
					-->
				</div>
				<div id="content">					
					<div id="box1">
						<%= yield %>
					</div>
					<!--
					<div id="box2">
						<h3>Sociis feugiat felis justo</h3>
						<ul class="sectionList">
							<li class="first">
								<img class="left" src="images/pic02.jpg" width="96" height="96" alt="" /> <span>Nascetur sodales placerat porta posuere consequat fermentum cubilia feugiat tortor nunc magnis primis ornare suscipit non elit nascetur tristique mauris.</span>
							</li>
							<li class="last">
								<img class="left" src="images/pic03.jpg" width="96" height="96" alt="" /> <span>Quisque metus aenean velit aliquet quam viverra rhoncus facilisis semper leo vivamus metus mus facilisis parturient tempor dignissim est gravida.</span>
							</li>
						</ul>
					</div>
					<div id="box3">
						<h3>Eget adipiscing tellus</h3>
						<ul class="sectionList">
							<li class="first">
								<img class="left" src="images/pic04.jpg" width="96" height="96" alt="" /> <span>Nascetur sodales placerat porta posuere consequat fermentum cubilia feugiat tortor nunc magnis primis ornare suscipit non elit nascetur tristique mauris.</span>
							</li>
							<li class="last">
								<img class="left" src="images/pic05.jpg" width="96" height="96" alt="" /> <span>Quisque metus aenean velit aliquet quam viverra rhoncus facilisis semper leo vivamus metus mus facilisis parturient tempor dignissim est gravida.</span>
							</li>
						</ul>
					</div>
					-->
					<br class="clear" />
				</div>
				<br class="clear" />
			</div>
			<%= render 'layouts/admin_footer' %>
		</div>
		<div id="copyright">
			Corporatta by <a href="http://doni.us/">Adonis</a> for <a href="http://freewebsitetemplat.es">Free Website Templates</a>. 
			Imágenes by <a href="http://imagebase.davidniblack.com/">Image Base</a>.
		</div>
		<div style="margin: 1em 0 3em 0; text-align: center;">
			<!--%@##-->Dise&ntilde;o provisto por <a href="http://www.freewebtemplates.com/">Free Website Templates</a>.<!--##@%-->
		</div>

</body>
</html>
