<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	
	<head>
  		<title><%= titulo %></title>
		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
		<%= javascript_include_tag "bootstrap.min" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<style>
      		body 
      		{
        		padding-top: 60px;
        		padding-bottom: 40px;
      		}
      		.sidebar-nav 
      		{
        		padding: 9px 0;
      		}
		</style>
	</head>
	
	<body>
		
		<%= render 'layouts/admin_header' %>
		
		<div class="container">	
			<div class="row">
				<div class="span9">
					<div class="offset3">
	      				<% if flash[:notice] %>
							<span class="label"><%= flash[:notice] %></span>
	    				<% end %>
					    <% if flash[:warn] %>
				    		<span class="label label-warning"><%= flash[:warn] %></span>
	    				<% end %>
					    <% if flash[:error] %>
				    		<span class="label label-important"><%= flash[:error] %></span>
	    				<% end %>
					</div>
    				
      				<%= yield %>
				</div>
				<div class="span2 well">
					<%= render 'layouts/login_form' %>					
				</div>
			</div>

			<%= render 'layouts/admin_footer' %>
		</div>
		
	</body>
	
</html>